apiVersion: apps/v1
kind: Deployment # 파드를 만들겠다
metadata:
  name: mysql
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
      - name: mysql
        image: mysql:8.0 # 앞에 슬래쉬가 없다 도커허브에서 공통적으로 제공해주는 이미지
        resources:
          requests:
            cpu: "125m" 
            memory: "256Mi"
          limits:
            cpu: "250m"
            memory: "512Mi"
        env:
        - name: MYSQL_ROOT_PASSWORD
          value: "rootpassword"
        - name: MYSQL_DATABASE
          value: "bookdb"
        ports:
        - containerPort: 3306   # 내부 포트 번호     
---
apiVersion: v1
kind: Service
metadata:
  name: mysql
spec:
  selector:
    app: mysql
  type: NodePort  # 내부에서만 접근 가능
  ports:
    - protocol: TCP
      port: 3306 # 컨데이너 포트
      targetPort: 3306 # 클러스트 내에 namespace가 달라서 쫑이 안난다
      nodePort : 31100 # 외부에서 서비스를 찾기위한 포트
